.SecondSubHeader{
    height: 3rem;
    background: #eae5e5;
    display: flex;
}

.SecondSubHeader__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SecondSubHeader__navLink {
    /* font-family: 'marathi'; */
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 2rem; 
    letter-spacing:0.1px;
    
}

.SecondSubHeader__navLink:hover {
    /* color : #e47911; */
    color:#08a59d;
    cursor: pointer;
    text-decoration: none;
}