.SubHeader__navbar {
    display: flex;
    align-items: center;
    align-content: space-evenly;
    flex-direction: row;
}
.SubHeader__navLink { 
    
    
    color:#fff;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing:0.1px;
    /* margin-left: 2rem;  */
    padding: 1rem;
    transition: all o.2s;
   
    
}
.SubHeader__navLink:hover {
   
    /* padding:1rem;   */
    /* background-color:#d7e8e9;  */
    border: 2px solid #d7e8e9;
   
    transition: all;
    color:#000;
}
