.upload__image-wrapper {
  margin-top: 1rem;
}

.uploadProduct__imagePreview {
  display: inline-block;
  margin: 2rem 2rem 0rem 0rem;
}

.uploadProduct__image {
  height: 17.8rem;
  width:17.8rem;
border: 1px solid black;
}

.upload__image-wrapper
  > .uploadProduct__imagePreview
  > .uploadProduct__image
  > img {
  width: 100%;
  height: 100%;
}
